* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(234, 234, 234);
  }
  
  body {
    padding: 60px;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  form input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    height: 2rem;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(82, 144, 0);
  }
  
  .card-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: space-around;
  }
  
  .card {
    width: 10rem;
    height: 12rem;
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    /* margin-right: 20px; */
    overflow: hidden;
  }
  
  .card p {
    height: 30%;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    background-color: white;
    text-align: center;
  }
  
  .card img {
    height: 70%;
    width: 100%;
  }

  button {
    margin: auto;
    height: 2.5rem;
    width: 6rem;
    border-radius: 5px;
    background-color: beige;
  }

  .eliminar {
    margin-top: 1rem;
    display: flex;
  }

  .loadingMessage {
    margin: auto;
    margin-top: 2rem;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid;
    border-color: #dbdcef;
    border-right-color: #474bff;
    animation: spinner-d3wgkg 1s infinite linear;
  }

  @keyframes spinner-d3wgkg {
    to {
        transform: rotate(1turn);
    }
  }

  @media (max-width: 600px) {
    body {
      padding: 0;
    }
  }